Repository maksim-luzin/React-ssr-project: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

Add initial settings
  src/global.d.ts
  src/server/components/HTML.tsx
  src/server/index.ts
  src/server/middleware/errorHandler.ts
  src/server/middleware/webhookVerification.ts
  src/shared/variables.css
  src/shared/variables.css.d.ts
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

Add types and constants
  src/shared/enums/env.ts
  src/shared/enums/field.ts
  src/shared/enums/index.ts
  src/shared/enums/routes.ts
  src/shared/enums/sort.ts
  src/shared/types/address.ts
  src/shared/types/album.ts
  src/shared/types/apiContext.ts
  src/shared/types/apiContextProps.ts
  src/shared/types/comment.ts
  src/shared/types/company.ts
  src/shared/types/geo.ts
  src/shared/types/index.ts
  src/shared/types/photo.ts
  src/shared/types/post.ts
  src/shared/types/user.ts
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

Add services
  src/shared/services/album.ts
  src/shared/services/axios.ts
  src/shared/services/comment.ts
  src/shared/services/index.ts
  src/shared/services/photo.ts
  src/shared/services/post.ts
  src/shared/services/user.ts
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

Add store and selectors
  src/shared/selectors/album.ts
  src/shared/selectors/index.ts
  src/shared/selectors/loading.ts
  src/shared/selectors/post.ts
  src/shared/selectors/user.ts
  src/shared/store/album.ts
  src/shared/store/index.ts
  src/shared/store/loading.ts
  src/shared/store/notification.ts
  src/shared/store/post.ts
  src/shared/store/user.ts
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

Add main page
  src/shared/App.tsx
  src/shared/actions/index.ts
  src/shared/styles.module.css
  src/shared/styles.module.css.d.ts
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

Add server render and hydrate
  src/client/index.tsx
  src/server/middleware/serverRenderer.tsx
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

Add helps and hooks
  src/shared/constants/enums/actionStatus.ts
  src/shared/helpers/getEnv.ts
  src/shared/helpers/getServerState.ts
  src/shared/helpers/index.ts
  src/shared/hooks/dispatch.ts
  src/shared/hooks/index.ts
  src/shared/hooks/selector.ts
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

Add user page
  src/server/controller/user.ts
  src/server/route/index.ts
  src/shared/components/User/index.tsx
  src/shared/components/User/styles.module.css
  src/shared/components/User/styles.module.css.d.ts
  src/shared/pages/Users/index.tsx
  src/shared/pages/Users/styles.module.css
  src/shared/pages/Users/styles.module.css.d.ts
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

Add list of posts
  src/server/controller/post.ts
  src/shared/components/Owner/index.tsx
  src/shared/components/Owner/styles.module.css
  src/shared/components/Owner/styles.module.css.d.ts
  src/shared/components/Post/index.tsx
  src/shared/components/Post/styles.module.css
  src/shared/components/Post/styles.module.css.d.ts
  src/shared/pages/Posts/index.tsx
  src/shared/pages/Posts/styles.module.css
  src/shared/pages/Posts/styles.module.css.d.ts
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

Add list of comments
  src/shared/components/Comment/index.tsx
  src/shared/components/Comment/styles.module.css
  src/shared/components/Comment/styles.module.css.d.ts
  src/shared/pages/Post/index.tsx
  src/shared/pages/Post/styles.module.css
  src/shared/pages/Post/styles.module.css.d.ts
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

Add list of albums
  src/server/controller/album.ts
  src/shared/components/Album/index.tsx
  src/shared/components/Album/styles.module.css
  src/shared/components/Album/styles.module.css.d.ts
  src/shared/pages/Albums/index.tsx
  src/shared/pages/Albums/styles.module.css
  src/shared/pages/Albums/styles.module.css.d.ts
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

Add list of photos
  src/server/controller/index.ts
  src/shared/components/Photo/index.tsx
  src/shared/components/Photo/styles.module.css
  src/shared/components/Photo/styles.module.css.d.ts
  src/shared/pages/Album/index.tsx
  src/shared/pages/Album/styles.module.css
  src/shared/pages/Album/styles.module.css.d.ts
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

Add loading
  src/shared/components/Loading/index.tsx
  src/shared/components/Loading/styles.module.css
  src/shared/components/Loading/styles.module.css.d.ts
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

Add header
  src/shared/components/Header/index.tsx
  src/shared/components/Header/styles.module.css
  src/shared/components/Header/styles.module.css.d.ts
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

Add readme
  README.md
Due: none

Add node and npm version
  package.json
Due: none

Some change engine version
  package.json
Due: none

Change node version for deploing
  package.json
Due: none

Add new settings for vercel
  api/index.js
  config/webpack.config.ts/plugins.ts
  config/webpack.config.ts/server.base.ts
  package-lock.json
  package.json
  scripts/build-ssr.ts
  src/shared/services/axios.ts
  vercel.json
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss}
  eslint --fix --ext js,jsx,ts,tsx: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: (any of: *.css) or (any of: *.scss)
